name: CI/CD Docker NestJS

on:
  workflow_run:
    workflows: ['CI - NestJS']
    types:
      - completed

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clonar tu repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Configurar Node.js (para correr tests)
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # 3️⃣ Instalar pnpm
      - name: Install pnpm
        run: npm install -g pnpm@latest-10

      # 4️⃣ Instalar dependencias
      - name: Install dependencies
        run: pnpm install

      # 5️⃣ Ejecutar tests de NestJS
      - name: Run tests
        run: pnpm run test

      # 6️⃣ Configurar Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 7️⃣ Login a DockerHub
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 8️⃣ Build y push de la imagen
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            juanzb30/app-back:latest
            juanzb30/app-back:${{ github.sha }}
